In [34]:
import sqlite3
from matplotlib import pyplot as plt
import plotly.express as px
import pandas as pd
from flask import Flask, request, render_template, redirect, url_for
from datetime import *
import pytz
import plotly.express as px
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.backends.backend_agg import FigureCanvasAgg as FigureCanvas
import io
import base64
import sqlite3
import os
from os.path import join, dirname, realpath

In [35]:
con = sqlite3.connect('mydb.db')
cur = con.cursor()

In [36]:
con = sqlite3.connect('mydb.db')
df = pd.read_sql('select * from treatments',con)
display(df)
con.close()

,treatments_id,treatments_name,year,replicate,root_knot_nematode_planting,root_knot_nematode_midseason,root_knot_nematode_end_of_season,weed,vigor_rating,gall_rating,fruit_yield,southern_blight
0,1,Untreated check,2019,1,7,1,320,9,4,3.0,51.00000,8.000000
1,2,Resistant variety,2019,4,4,2,5,27,7,3.4,28.81168,6.557377
2,3,Resistant variety,2019,4,4,2,5,27,7,3.4,28.81168,6.557377
3,4,Pic 60,2019,3,14,4,154,0,9,3.0,124.78936,1.315789
4,5,Paladin,2020,4,2,0,0,2,6,3.0,105.25000,4.878049
...,...,...,...,...,...,...,...,...,...,...,...,...
256,257,Pic 60,2020,4,4,0,14,43,6,3.0,119.30000,0.000000
257,258,Paladin,2020,1,0,3,2,2,5,3.0,97.10000,5.369369
258,259,Paladin,2020,2,0,0,2,3,6,3.0,106.25000,25.760359
259,260,Paladin,2020,3,0,0,10,23,6,3.0,90.05000,6.896552
260,261,Paladin,2020,4,2,0,0,2,6,3.0,105.25000,4.878049

In [38]:
con = sqlite3.connect('mydb.db')
cur = con.cursor()
df = pd.read_sql('select * from treatments',con)
df1 = df.groupby(['year', 'treatments_name']).mean()
#df1 = df1.drop(['treatments_id', 'year', 'replicate'], axis=1)
df1 = df1.reset_index()
display(df1)
#ax = df1.plot.bar(x='treatments_name', y='year', secondary_y='weed' )
#ax
df_ex = df1[["year","treatments_name","weed"]]
display(df_ex)
con.close()

,year,treatments_name,treatments_id,replicate,root_knot_nematode_planting,root_knot_nematode_midseason,root_knot_nematode_end_of_season,weed,vigor_rating,gall_rating,fruit_yield,southern_blight
0,2019,Dominus,104.833333,2.500000,12.000000,2.000000,146.250000,46.500000,8.500000,3.550000,61.815045,9.782767
1,2019,Paladin,139.500000,2.500000,43.500000,1.000000,25.000000,15.750000,8.250000,3.300000,66.293142,5.363041
2,2019,Pic 60,129.238095,2.523810,12.571429,2.571429,52.571429,2.380952,9.000000,3.047619,120.155734,0.689223
3,2019,Resistant variety,104.346154,2.615385,8.153846,3.384615,2.000000,38.307692,7.230769,3.169231,61.593663,6.299187
4,2019,Telone,108.833333,2.500000,24.500000,0.500000,44.500000,30.750000,8.750000,3.050000,62.987937,8.967571
5,2019,Untreated check,96.840000,2.440000,18.040000,12.520000,220.880000,33.000000,7.840000,4.008000,54.519175,6.168685
6,2020,Dominus,147.500000,2.500000,1.500000,0.500000,178.750000,55.750000,7.750000,3.150000,99.287500,19.565533
7,2020,Paladin,155.952381,2.571429,0.571429,0.714286,3.333333,7.238095,5.761905,3.000000,99.928571,10.447604
8,2020,Pic 60,159.500000,2.500000,3.500000,0.750000,41.750000,12.000000,6.000000,3.000000,94.925000,1.315789
9,2020,Resistant variety,155.500000,2.500000,3.500000,0.250000,1.250000,63.750000,5.250000,3.000000,101.987500,12.555341
10,2020,Telone,151.500000,2.500000,1.500000,0.000000,46.750000,65.250000,8.250000,3.100000,93.560000,17.935142
11,2020,Untreated check,143.500000,2.500000,2.500000,0.500000,326.250000,58.250000,4.750000,3.250000,107.400000,12.184761

    year    treatments_name       weed
0   2019            Dominus  46.500000
1   2019            Paladin  15.750000
2   2019             Pic 60   2.380952
3   2019  Resistant variety  38.307692
4   2019             Telone  30.750000
5   2019    Untreated check  33.000000
6   2020            Dominus  55.750000
7   2020            Paladin   7.238095
8   2020             Pic 60  12.000000
9   2020  Resistant variety  63.750000
10  2020             Telone  65.250000
11  2020    Untreated check  58.250000

In [41]:
con = sqlite3.connect('mydb.db')
cur = con.cursor()
df = pd.read_sql('select * from treatments',con)
df1 = df.groupby('treatments_name').describe()
df1 = df1.drop(['treatments_id', 'replicate'], axis=1)
df1 = df1.reset_index()
display(df1)
con.close()

     treatments_name  year                                                 \
                     count         mean       std     min     25%     50%
0            Dominus  44.0  2019.454545  0.503686  2019.0  2019.0  2019.0
1            Paladin  41.0  2019.512195  0.506061  2019.0  2019.0  2020.0
2             Pic 60  41.0  2019.487805  0.506061  2019.0  2019.0  2019.0
3  Resistant variety  46.0  2019.434783  0.501206  2019.0  2019.0  2019.0
4             Telone  44.0  2019.454545  0.503686  2019.0  2019.0  2019.0
5    Untreated check  45.0  2019.444444  0.502519  2019.0  2019.0  2019.0

                  root_knot_nematode_planting  ... fruit_yield             \
      75%     max                       count  ...         75%        max
0  2020.0  2020.0                        44.0  ...    86.35000  118.30000
1  2020.0  2020.0                        41.0  ...   105.25000  106.25000
2  2020.0  2020.0                        41.0  ...   124.78936  134.81927
3  2020.0  2020.0                        46.0  ...   103.10000  119.69094
4  2020.0  2020.0                        44.0  ...    90.90915  103.65000
5  2020.0  2020.0                        45.0  ...   102.00000  121.15000

  southern_blight                                                       \
            count       mean        std       min       25%        50%
0            44.0  14.229479   6.411474  5.454545  9.859155  11.748401
1            41.0   7.967330   7.407485  2.439024  3.448276   4.878049
2            41.0   0.994865   1.092204  0.000000  0.000000   1.315789
3            46.0   9.019254   6.575718  1.408451  5.144855   6.557377
4            44.0  13.043740  11.039870  0.000000  6.453901   8.955224
5            45.0   8.842497   5.929550  1.315789  5.084746   7.692308


         75%        max
0  19.718310  24.137931
1   6.896552  25.760359
2   1.315789   2.631579
3  12.000000  24.000000
4  18.010301  36.619718
5  10.276680  20.553360

[6 rows x 73 columns]