In [42]:
import sqlite3
from matplotlib import pyplot as plt
import plotly.express as px
import pandas as pd
from flask import Flask, request, render_template, redirect, url_for
from datetime import *
import pytz
import plotly.express as px
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.backends.backend_agg import FigureCanvasAgg as FigureCanvas
import io
import base64
import sqlite3
import os
from os.path import join, dirname, realpath
from sklearn import *
import pickle
import joblib
from numpy import *

In [43]:
filename = 'finalized_model.sav'
loaded_model = joblib.load(filename)
result = loaded_model.predict([[2,2,4,120,7,3.4,24.137931,0,0,0,0,0,1], [2,2,4,120,7,3.4,24.137931,0,0,0,0,0,1]])
print(result)

['high' 'high']

In [44]:
r = pd.DataFrame(result,columns=['Predict'])
r = r.to_html()

In [45]:
con = sqlite3.connect('pred.db')
df_p = pd.read_sql('select * from treatments',con)
df_p

,treatments_id,treatments_name,year,replicate,root_knot_nematode_planting,root_knot_nematode_midseason,root_knot_nematode_end_of_season,weed,vigor_rating,gall_rating,fruit_yield,southern_blight,latitude,longitude,dominus,paladin,pic_60,resistant_variety,telone,untreated_check
0,1,Untreated check,2019,1,20,10,320,10,10,5,10,50,31.502951,-83.545263,0,0,1,0,0,0
1,2,Untreated check,2019,1,20,10,320,10,10,5,10,50,31.502951,-83.545263,0,0,0,0,1,0
2,3,Untreated check,2019,1,20,10,150,10,10,5,10,50,31.502951,-83.545263,1,0,0,0,0,0
3,4,Untreated check,2019,1,20,10,320,10,10,5,10,50,31.502951,-83.545263,1,0,0,0,0,0

In [46]:
df_p = df_p [['root_knot_nematode_planting', 'root_knot_nematode_midseason', 'root_knot_nematode_end_of_season', 'weed', 'vigor_rating', 'gall_rating', 'fruit_yield', 'southern_blight', 'dominus', 'paladin', 'pic_60', 'resistant_variety', 'telone', 'untreated_check']]
df_p = df_p.set_index('root_knot_nematode_planting')
df_p

,root_knot_nematode_midseason,root_knot_nematode_end_of_season,weed,vigor_rating,gall_rating,fruit_yield,southern_blight,dominus,paladin,pic_60,resistant_variety,telone,untreated_check
root_knot_nematode_planting,,,,,,,,,,,,,
20,10,320,10,10,5,10,50,0,0,1,0,0,0
20,10,320,10,10,5,10,50,0,0,0,0,1,0
20,10,150,10,10,5,10,50,1,0,0,0,0,0
20,10,320,10,10,5,10,50,1,0,0,0,0,0

In [47]:
predictions = loaded_model.predict(df_p)
predictions

array(['low', 'low', 'low', 'low'], dtype=object)

In [48]:
results =  pd.DataFrame(predictions,columns=['Predict'])
results

  Predict
0     low
1     low
2     low
3     low