In [6]:
import sqlite3

In [7]:
con = sqlite3.connect('mydb.db')

In [8]:
cur = con.cursor()

In [9]:
with open ('sqlite_script.sql') as script:
    res = cur.executescript(script.read())
con.commit()
cur.close()
con.close()

In [10]:
import pandas as pd
con = sqlite3.connect('mydb.db')
df = pd.read_sql('select * from treatments',con)
display(df)
con.close()

,treatments_id,treatments_name,year,replicate,root_knot_nematode_planting,root_knot_nematode_midseason,root_knot_nematode_end_of_season,weed,vigor_rating,gall_rating,fruit_yield,southern_blight
0,1,Untreated check,2019,1,7,1,320,9,0.9,3,51,8