In [1]:
import sqlite3
from matplotlib import pyplot as plt
import plotly.express as px

In [2]:
con = sqlite3.connect('pred.db')

In [3]:
cur = con.cursor()

In [4]:
with open ('pred.sql') as script:
    res = cur.executescript(script.read())
con.commit()
cur.close()
con.close()

In [5]:
import pandas as pd
con = sqlite3.connect('pred.db')
df = pd.read_sql('select * from treatments',con)
display(df)
con.close()

Empty DataFrame
Columns: [treatments_id, treatments_name, year, replicate, root_knot_nematode_planting, root_knot_nematode_midseason, root_knot_nematode_end_of_season, weed, vigor_rating, gall_rating, fruit_yield, southern_blight, latitude, longitude, dominus, paladin, pic_60, resistant_variety, telone, untreated_check]
Index: []

In [6]:
import pandas as pd
con = sqlite3.connect('pred.db')
df = pd.read_sql('select replicate,weed from treatments',con)
display(df)
con.close()

Empty DataFrame
Columns: [replicate, weed]
Index: []